*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-inter);
    font-size: var(--fs-s);
    line-height: 1.6;
    background-color: var(--gray-white);
    font-weight: 300;
}

h1,
h2 {
    font-weight: normal;
    line-height: 1.1;
}

h1 {
    font-family: var(--font-glory);
    font-size: var(--fs-4xl);
}

h2 {
    font-size: var(--fs-4xl);
}

h3 {
    line-height: 1.4;
}

button,
input,
select,
textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Pour rendre invisible mais laisser accessible */
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.noscroll {
    overflow: hidden;
}

.highlight {
    background-color: var(--primary);
    padding: 4px var(--space1x);
    font-weight: 500;
}