:root {
    /* Color styles */
    --light-blue:#3498DB;
    --cherry-red: #CC2736;
    --rouille: #b33812;
    --primary: #ffc85a;
    --black: black;
    --gray-800: #252525;
    --gray-600: #7b7b7b;
    --gray-400: #d4d4d4;
    --gray-200: #f7f7f7;
    --white: white;

    /* Text-size styles */
    --fs-xs: 0.75rem;
    --fs-s: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.375rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2.1875rem;
    --fs-3xl: 2.625rem;
    --fs-4xl: 3.125rem;

    /* Font-family styles */
    --font-inter: "Inter", sans-serif;
    --font-glory: "Give You Glory", cursive;
    --font-serif: "Playfair Display", serif;
    --font-anton: "Anton", sans-serif;

    /* Espaces */
    --space1x: 10px;
    --space2x: 20px;
    --space3x: 40px;
    --space4x: 80px;
    --space5x: 120px;
}