.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: var(--light-blue);
    color: var(--white);
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space5x) var(--space3x) var(--space3x);
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
}

.menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
}

.menu__link {
    color: var(--white);
    text-decoration: none;
    font-size: var(--fs-xl);
    display: block;
}

.menu__link--silent {
    color: var(--gray-600);
    font-size: var(--fs-s);
}

.menu__item {
    margin-bottom: var(--space3x);
    padding-bottom: var(--space1x);
    border-bottom: 1px solid var(--white);
}

.menu__social-network,
.menu__terms {
    display: flex;
    gap: var(--space2x);
    justify-content: end;
    margin-bottom: var(--space2x);
}

.menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: var(--white);
    height: 2px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

/* Technique pour transformer les 3 barres du bouton de menu en croix
Ne pas oublier d'ajouter une transition plus haut pour l'animation */
.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--white);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}

